/* Переменные */

:root {
    --accent-color: #2196F3;
    --headline-color: #212121;
    --main-text-color: #757575;
}

body {
    color: var(--main-text-color);
    background-color: #ffffff;
    
    font-family: 'Roboto', sans-serif;
}

/* Хедер */

.logo {
    color: var(--headline-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo > .logo-accent {
    color: var(--accent-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.nav-list .link {
    color: var(--headline-color);

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus,
.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
}

.auth-link {
    color: var(--main-text-color);

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

/* Герой */

.hero > .title {
    color: #ffffff;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: #ffffff;
    background-color: var(--accent-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Наши преимущества */

/* .benefits > .title {
    color: transparent;
} */

.benefit-title {
    color: var(--headline-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefit-text {
    color: var(--main-text-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.employment > .title {
    color: var(--headline-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}

/* Наши работники */

.workers > .title {
    color: var(--headline-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.workers-name {
    color: var(--headline-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.workers-position {
    color: var(--main-text-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Футер */

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.geo {
    color: #ffffff;
}

.mail,
.tel {
    color: rgba(255, 255, 255, 0.6);
}